* {
    box-sizing: border-box;
  }
  .container {
    background-color: #cafafe;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #logo {
    width: 100%;
  }
  #logo img {
    border-radius: 50%;
    text-align: center;
    
  }
  h1 {
    font-size: 25px;
    font-weight: normal;
    font-family: fantasy;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 500px) {
    .content {
      flex-flow: column;
      align-items: center;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .content {
      flex-wrap: wrap;
    }
  }
  